
.window-view{
  width: 600px;
  height: 400px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px 10px 0;
  border-radius: 4px;
  border: 1px solid bisque ;
  background-color: #EEE;
  color: olivedrab;
  font-size: 24px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  .message-body{
    .mtitle{
      margin: 8px auto;
      color: orange;
      text-align: center;
      line-height: 14px;
    }
    height: 100%;
    margin-bottom: 20px;
    overflow: scroll;
  }
}